{% load static %}
{% load speed_run_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/speedrun.css" %}" rel="stylesheet">
</head>

<body>
    <div id="content">
        {% block content %}
        {% endblock %}

        {% block pagination %}
        {% endblock %}
    </div>
    
    <div id="sidebar">
    <h2>My Speed Runs</h2>
    <p>
      I've ran {% total_runs %} speed runs so far.
    </p>

    <a href="{% url 'speedrun:run_feed' %}">
      Look at my Latest Runs
    </a>

  </div>

</body>
</html>